* {
  margin: 0;
  padding: 0;
  --company-name-load-time: 300ms;
  --menu-wrap-load-time: 500ms;
}

body {
  background-color: rgb(218, 216, 216);
  overflow-x: hidden;
}

.welcome-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  height: 60px;
}

.welcome-body a {
  text-decoration: none;
  color: black;
  font-family: system-ui;
}

.companyName {
  flex: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: company-name-load var(--company-name-load-time) ease-in;
  animation-fill-mode: forwards;
  transform: scale(0);
}

@keyframes company-name-load {
  0% {
    transform: translateY(-100%);
    transform: scale(0);
  }
  100% {
    transform: translateY(0);
    transform: scale(1);
  }
}

.companyName img {
  width: 80px;
  height: 80px;
  margin-right: 3px;
}

.companyName h1 {
  font-family: "Abril Fatface", cursive;
  color: rgb(17, 17, 122);
  letter-spacing: 3px;
}

/* hamburger menu styling */

#Menu-wrap {
  flex: 50%;
  position: relative;
  margin: 0;
  top: -30px;
  right: 0px;
  z-index: 1;
  animation: menu-wrap-load var(--menu-wrap-load-time) ease-in;
  animation-fill-mode: forwards;
  transform: scale(0);
}

@keyframes menu-wrap-load {
  0% {
    transform: translateX(100%);
    transform: scale(0);
  }
  100% {
    transform: translateX(0);
    transform: scale(1);
  }
}

#Menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 5;
  width: 60px;
  height: 60px;
  opacity: 0;
}

#Menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  z-index: 2;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.85;
}

#Menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

#Menu-wrap .hamburger > div:before {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 2px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 2px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

#Menu-wrap .toggler:checked + .hamburger > div:before,
#Menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

#Menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

#Menu-wrap #Menu {
  position: absolute;
  margin-top: 64.5px;
  right: -19px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
  height: 88.5vh;
  width: 25vw;
  background-color: #bc6c25;
  border-radius: 5px;
  animation: menu-unload 500ms ease-out;
  animation-fill-mode: forwards;
}

@keyframes menu-unload {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

#Menu-wrap .toggler:checked ~ #Menu {
  visibility: visible;
  opacity: 1;
  animation: menu-load 500ms ease-in;
  animation-fill-mode: forwards;
}

@keyframes menu-load {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

#Menu li {
  margin-top: 20px;
  padding: 8px;
  text-decoration: none;
  list-style: none;
}

#Menu li a {
  text-decoration: none;
  color: white;
  font-family: system-ui;
  font-size: 20px;
}

#Menu li a:hover {
  color: lightskyblue;
}

.about-intro {
  background-color: white;
  margin: 0 auto;
  padding: 60px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: about-intro-load 900ms ease-in;
  animation-fill-mode: forwards;
}

@keyframes about-intro-load {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (min-width: 900px) {
  .about-intro {
    /* width: 900px; */
    background-color: rgb(218, 216, 216);
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

.about-intro h1 {
  font-family: "Titillium Web", sans-serif;
  padding: 20px 0;
  font-size: 30px;
  color: rgb(17, 17, 122);
}

@media only screen and (min-width: 900px) {
  .about-intro h1 {
    font-size: 45px;
  }
}

.about-intro p {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.5rem;
  font-size: 15px;
  color: black;
  text-align: justify;
}

@media only screen and (min-width: 900px) {
  .about-intro p {
    font-size: 20px;
    text-align: justify;
    max-width: 1000px;
  }
}

.other-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 900px) {
  .other-info {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
}

.vision {
  padding: 40px 40px;
}

.vision img {
}

.vision h2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 35px;
  font-weight: bolder;
  color: rgb(17, 17, 122);
}

.vision p {
  line-height: 2rem;
  width: 300px;
  text-align: justify;
  font-size: 18px;
}

.comp-advantage {
  padding: 30px 20px;
  background-color: rgb(17, 17, 122);
}

.comp-advantage img {
}

.comp-advantage h2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 35px;
  font-weight: bolder;
  color: black;
}

.comp-advantage p {
  line-height: 1.5rem;
  width: 350px;
  text-align: justify;
  font-size: 17px;
  margin-bottom: 40px;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.feedback h1 {
  font-family: system-ui;
  color: rgb(17, 17, 122);
  font-size: 25px;
}

.all-comments {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 900px) {
  .all-comments {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
  }
}

.comments {
  background-color: rgb(253, 247, 247);
  margin: 50px 50px;
  padding: 20px 20px;
  border-radius: 5px;
  width: 300px;
}
.comments p {
  line-height: 1.7rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  text-align: center;
}

.coyName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 17, 122);
  padding: 20px 120px;
}

.coyName img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.coyName h3 {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 10px;
  color: white;
}

.coyName .contact-inform {
  display: flex;
  flex-wrap: wrap;
}

.coyName .contact-inform p {
  margin: 5px 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

.coyName .contact-inform a {
  text-decoration: none;
  color: blue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: oblique;
}

.coyName .contact-inform .fa {
  color: blue;
}

.coyName .services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.coyName .services a {
  text-decoration: none;
  color: white;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 5px 20px;
  text-align: center;
}

.coyName .credit p {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 10px;
  color: white;
}

.coyName .credit a {
  text-decoration: none;
  font-style: oblique;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
