* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(218, 216, 216);
}

.welcome-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  height: 60px;
}

.welcome-body a {
  text-decoration: none;
  color: black;
  font-family: system-ui;
}

.companyName {
  flex: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.companyName img {
  width: 80px;
  height: 80px;
  margin-right: 3px;
}

.companyName h1 {
  font-family: system-ui;
}

/* hamburger menu styling */

#Menu-wrap {
  flex: 50%;
  position: relative;
  margin: 0;
  top: -30px;
  right: 0px;
  z-index: 1;
}

#Menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 5;
  width: 60px;
  height: 60px;
  opacity: 0;
}

#Menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  z-index: 2;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.85;
}

#Menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

#Menu-wrap .hamburger > div:before {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 2px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 2px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

#Menu-wrap .toggler:checked + .hamburger > div:before,
#Menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

#Menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

#Menu-wrap #Menu {
  position: absolute;
  margin-top: 64.5px;
  right: -19px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
  height: 88.5vh;
  width: 350px;
  background-color: white;
  border-radius: 5px;
}

#Menu-wrap .toggler:checked ~ #Menu {
  visibility: visible;
  opacity: 1;
}

#Menu li {
  margin-top: 20px;
  padding: 8px;
  text-decoration: none;
  list-style: none;
}

#Menu li a {
  text-decoration: none;
  color: black;
  font-family: system-ui;
  font-size: 20px;
}

#Menu li a:hover {
  color: lightskyblue;
}

.services-title {
  height: 100px;
  background-color: rgb(218, 216, 216);
  border-bottom: 300px;
  padding: 100px 20px;
}

.services-title h1 {
  color: rgb(17, 17, 122);
  font-family: system-ui;
  font-size: 45px;
  font-weight: bolder;
  text-align: center;
}

.services-title p {
  color: black;
  font-family: system-ui;
  font-size: 18px;
  text-align: center;
}

.service-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.ind-services {
  background-color: white;
  margin: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  margin: 50px;
  position: relative;
  height: 300px;
  width: 300px;
}

.get-started {
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactBtn {
  width: 400px;
  height: 50px;
  background-color: rgb(58, 58, 119);
  border-radius: 5px;
  font-size: 20px;
  font-family: system-ui;
  color: white;
  cursor: pointer;
}

#contactBtn:hover {
  background-color: white;
  color: rgb(58, 58, 119);
  border: 2px solid black;
}

.ind-services img {
  height: 100px;
  color: blue;
}

.ind-services #select-service {
  width: 17px;
  height: 17px;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.ind-services h2 {
  color: rgb(17, 17, 122);
  font-family: system-ui;
  font-size: 18px;
}

.ind-services {
  color: rgb(34, 90, 124);
  font-family: system-ui;
  font-size: 15px;
}

.coyName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 17, 122);
  padding: 20px 120px;
}

.coyName img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.coyName h3 {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 10px;
  color: white;
}

.coyName .contact-inform {
  display: flex;
  flex-wrap: wrap;
}

.coyName .contact-inform p {
  margin: 5px 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

.coyName .contact-inform a {
  text-decoration: none;
  color: blue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: oblique;
}

.coyName .contact-inform .fa {
  color: blue;
}

.coyName .services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.coyName .services a {
  text-decoration: none;
  color: white;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 5px 20px;
  text-align: center;
}

.coyName .credit p {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 10px;
  color: white;
}

.coyName .credit a {
  text-decoration: none;
  font-style: oblique;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
